body {
    padding-top: 100px;
    background-color: #1e1e1e;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.f-section input {
    height: 40px;
    flex: 1;

    
    color:white;
    width: 100%;
    border-radius: 10px;
    padding-left: 12px;
    outline: 0;
    background-color: #09080c;
    border: 1px solid rgba(167, 167, 167, 0.617);
}
.in-container {
    display: flex;
    width: 90%;
    column-gap: 10px;
}
.Box .hilu {
    height: 30px;
    width: 30px;
}
.DM {
    margin-left: 6px;
}
.Box div {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
main {
    height: 420px;
}
.f-section button {
    height: 100%;
    width: 70px;
    color: white;
    border-radius: 10px;
    border: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.18s;
    border: 1px solid rgba(29, 29, 122, 0.551);
    background: linear-gradient(to top right , rgb(166, 62, 62),rgb(7, 7, 126),rgba(180, 5, 66, 0.583));
    box-shadow: 0px 0px 10px 2px rgba(106, 8, 144, 0.492);
}
.f-section button:hover {
    background: linear-gradient(to bottom right , rgb(52, 24, 24),rgb(7, 84, 126),rgba(108, 68, 82, 0.583));
    opacity: 0.7;
    box-shadow: none;
}
.f-section button:active {
    background: linear-gradient(to bottom left , rgb(255, 21, 21),rgb(132, 35, 170),rgba(255, 46, 119, 0.583));
    opacity: 0.5;
   
}
.second-sec-div {
    height: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;
    
} 
.second-sec-div button {
    padding: 10px 5px 10px 5px;
    border: 0;
    border-radius: 10px;
    background-color: none;
    color: red;
    position: relative;
    cursor: pointer;
    font: bold 17px monospace;
}


.second-sec-div button::after {
    content: "";
    position: absolute;
    background: conic-gradient(from 0deg,red,white);
    height:44px;
    width: 207px;
     z-index: -10;
    border-radius: 10px;    
    translate: -201px -12px ;
    
    

}

body.light-mode {
    background-color: white;
    color: black;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    background: #444;
    width: 60px;
    position: relative;
}

.toggle-ball {
    width: 20px;
    height: 20px;
    margin-left:10px;
    background: #53c28b;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    transition: transform 0.3s ease-in-out;
}

body.light-mode .toggle-ball {
    transform: translateX(30px);
}

.toggle-icon {
    width: 16px;
    height: 16px;
}
