<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="/Style/Warning.css">
</head>
<body>

  
    <main>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="container">
            <div class="CT">
                <p>Checking Terminal</p> <div class="dot">......</div>
            </div>
            
            <p>Server Is Normal</p>
            <p>&checkmark; MongoDB Connected</p>
            <p>&checkmark; No Port Conflict</p>
            <p>&Cross; It seems that the Path is incorrect or there is no ejs File found there</p>
            <div class="CT">
                <div class="load"><p>&circlearrowleft;</p></div>
                <p>Checking ... if there is any way to resolve this ...</p> 
            </div>
            <p>Please Check The Path or Create a Views Folder and put the ejs inside it !</p>
            <p>And If you don't know why you are seeing this Please Report it to me ! @AdnanDLuffy</p>
            
            <div class="bd">
               
                <button> Go Back</button>
            </div>
            
        </div>
    </main> 
    
</body>
</html>